# This notebook is used to process the ACS data saved as pop_10.csv and pop_18.csv

https://www.baruch.cuny.edu/confluence/display/geoportal/NYC+Geodatabase

In [1]:
import pandas as pd
import numpy as np

In [2]:
lookup = pd.read_excel('data/nyc_zcta_census_data.xlsx', 'b_2018acs_lookup')

In [3]:
# find column name for total population
lookup[lookup['est_value'].str.contains('Total population')]

    tabnum  est_id                                          est_value
88    acs2  SXAG01                     SEX AND AGE - Total population
89    acs2  SXAG02              SEX AND AGE - Total population - Male
90    acs2  SXAG03            SEX AND AGE - Total population - Female
91    acs2  SXAG04     SEX AND AGE - Total population - Under 5 years
92    acs2  SXAG05      SEX AND AGE - Total population - 5 to 9 years
93    acs2  SXAG06    SEX AND AGE - Total population - 10 to 14 years
94    acs2  SXAG07    SEX AND AGE - Total population - 15 to 19 years
95    acs2  SXAG08    SEX AND AGE - Total population - 20 to 24 years
96    acs2  SXAG09    SEX AND AGE - Total population - 25 to 34 years
97    acs2  SXAG10    SEX AND AGE - Total population - 35 to 44 years
98    acs2  SXAG11    SEX AND AGE - Total population - 45 to 54 years
99    acs2  SXAG12    SEX AND AGE - Total population - 55 to 59 years
100   acs2  SXAG13    SEX AND AGE - Total population - 60 to 64 years
101   acs2  SXAG14    SEX AND AGE - Total population - 65 to 74 years
102   acs2  SXAG15    SEX AND AGE - Total population - 75 to 84 years
103   acs2  SXAG16  SEX AND AGE - Total population - 85 years and ...
104   acs2  SXAG17  SEX AND AGE - Total population - Median age (y...
105   acs2  RACE01                            RACE - Total population
106   acs2  RACE02                 RACE - Total population - One race
107   acs2  RACE03         RACE - Total population - One race - White
108   acs2  RACE04  RACE - Total population - One race - Black or ...
109   acs2  RACE05  RACE - Total population - One race - American ...
110   acs2  RACE06         RACE - Total population - One race - Asian
111   acs2  RACE07  RACE - Total population - One race - Native Ha...
112   acs2  RACE08  RACE - Total population - One race - Some othe...
113   acs2  RACE09        RACE - Total population - Two or more races
114   acs2  HISL01     HISPANIC OR LATINO AND RACE - Total population
115   acs2  HISL02  HISPANIC OR LATINO AND RACE - Total population...
116   acs2  HISL03  HISPANIC OR LATINO AND RACE - Total population...
117   acs2  HISL04  HISPANIC OR LATINO AND RACE - Total population...
118   acs2  HISL05  HISPANIC OR LATINO AND RACE - Total population...
119   acs2  HISL06  HISPANIC OR LATINO AND RACE - Total population...
120   acs2  HISL07  HISPANIC OR LATINO AND RACE - Total population...
121   acs2  HISL08  HISPANIC OR LATINO AND RACE - Total population...
122   acs2  HISL09  HISPANIC OR LATINO AND RACE - Total population...
123   acs2  HISL10  HISPANIC OR LATINO AND RACE - Total population...

In [4]:
pop_18_1 = pd.read_excel('data/nyc_zcta_census_data.xlsx', 'b_zctas_2018acs1')
pop_18_1 = pop_18_1[['GEOID2', 'EDU10_PC', 'EMP05_PC', 'INC12_E']]
pop_18_1.columns = ['zip', 'college_pct', 'unemployment_pct', 'median_income']
pop_18_1

       zip  college_pct  unemployment_pct  median_income
0    10001         68.0               3.2        88526.0
1    10002         34.0               3.8        35859.0
2    10003         80.2               3.8       112131.0
3    10004         90.4               3.6       157645.0
4    10005         88.4               2.8       173333.0
..     ...          ...               ...            ...
210  11691         25.8               5.6        46147.0
211  11692         23.4               7.4        44024.0
212  11693         26.4               3.4        59431.0
213  11694         43.4               3.1        80976.0
214  11697         50.8               2.7       103580.0

[215 rows x 4 columns]

In [5]:
# open data 2018
pop_18_2 = pd.read_excel('data/nyc_zcta_census_data.xlsx', 'b_zctas_2018acs2')
pop_ls_2=['GEOID2','SXAG01_E','HOC01_E', 'HOC02_PC','HTEN02_PC', 'HVAL01_E', 
          'RENT09_E', 'RACE03_PC', 'RACE04_PC', 'RACE06_PC', 'HISL02_PC']
pop_18_2 = pop_18_2[pop_ls_2]
pop_18_2.columns = ['zip', 'population', 'housing_units', 'occu_pct','own_occu_pct', 'median_home_val', 'median_rent','white_pct','black_pct','asian_pct','hisp_pct']
pop_18_2

,zip,population,housing_units,occu_pct,own_occu_pct,median_home_val,median_rent,white_pct,black_pct,asian_pct,hisp_pct
0,10001,22924,14141,87.9,26.2,343400.0,2065.0,62.9,6.2,25.2,14.2
1,10002,74993,35724,93.9,13.3,665200.0,963.0,32.2,8.4,41.5,27.2
2,10003,54682,30876,84.6,32.9,1001200.0,2298.0,75.9,5.8,13.5,8.2
3,10004,3028,2139,77.6,38.3,1640600.0,3235.0,62.8,1.7,30.4,3.7
4,10005,8831,5585,78.3,19.6,1415400.0,3226.0,73.4,2.5,17.0,6.9
...,...,...,...,...,...,...,...,...,...,...,...
210,11691,67094,22126,93.1,24.1,462500.0,1200.0,38.9,46.8,3.5,26.4
211,11692,20991,7411,92.0,34.3,381900.0,1010.0,22.6,60.9,5.7,24.4
212,11693,12919,5453,88.9,50.7,310800.0,1037.0,63.3,19.9,4.0,29.5
213,11694,21354,9492,89.2,53.2,651300.0,1321.0,81.3,6.8,3.5,14.9
214,11697,3540,2553,53.5,96.8,570900.0,NaN,95.4,0.6,0.6,6.5

In [6]:
pop_18 = pop_18_2.merge(pop_18_1, left_on='zip', right_on='zip')
pop_18

,zip,population,housing_units,occu_pct,own_occu_pct,median_home_val,median_rent,white_pct,black_pct,asian_pct,hisp_pct,college_pct,unemployment_pct,median_income
0,10001,22924,14141,87.9,26.2,343400.0,2065.0,62.9,6.2,25.2,14.2,68.0,3.2,88526.0
1,10002,74993,35724,93.9,13.3,665200.0,963.0,32.2,8.4,41.5,27.2,34.0,3.8,35859.0
2,10003,54682,30876,84.6,32.9,1001200.0,2298.0,75.9,5.8,13.5,8.2,80.2,3.8,112131.0
3,10004,3028,2139,77.6,38.3,1640600.0,3235.0,62.8,1.7,30.4,3.7,90.4,3.6,157645.0
4,10005,8831,5585,78.3,19.6,1415400.0,3226.0,73.4,2.5,17.0,6.9,88.4,2.8,173333.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,11691,67094,22126,93.1,24.1,462500.0,1200.0,38.9,46.8,3.5,26.4,25.8,5.6,46147.0
211,11692,20991,7411,92.0,34.3,381900.0,1010.0,22.6,60.9,5.7,24.4,23.4,7.4,44024.0
212,11693,12919,5453,88.9,50.7,310800.0,1037.0,63.3,19.9,4.0,29.5,26.4,3.4,59431.0
213,11694,21354,9492,89.2,53.2,651300.0,1321.0,81.3,6.8,3.5,14.9,43.4,3.1,80976.0
214,11697,3540,2553,53.5,96.8,570900.0,NaN,95.4,0.6,0.6,6.5,50.8,2.7,103580.0

In [7]:
pop_18.columns

Index(['zip', 'population', 'housing_units', 'occu_pct', 'own_occu_pct',
       'median_home_val', 'median_rent', 'white_pct', 'black_pct', 'asian_pct',
       'hisp_pct', 'college_pct', 'unemployment_pct', 'median_income'],
      dtype='object')

In [8]:
pop_10_1 = pd.read_excel('data/nyc_zcta_census_data.xlsx', 'b_zctas_2010census')
pop_10_1 = pop_10_1[['GEOID2', 'HD01_S001', 'HD01_S169']]
pop_10_1.columns = ['zip', 'population', 'housing_units']
pop_10_1

       zip  population  housing_units
0    10001       21102          12476
1    10002       81410          34541
2    10003       56024          31078
3    10004        3089           2197
4    10005        7135           5317
..     ...         ...            ...
209  11691       60035          21160
210  11692       18540           6881
211  11693       11916           5170
212  11694       20408           9341
213  11697        4079           2698

[214 rows x 3 columns]

In [9]:
pop_10_2 = pd.read_excel('data/nyc_zcta_census_data.xlsx', 'b_zctas_2010census_pct')
pop_10_2 = pop_10_2[['GEOID2','HD02_S170','HD02_S181','HD02_S078', 'HD02_S079', 'HD02_S081', 'HD02_S114']]
pop_10_2.columns = ['zip','occu_pct', 'own_occu_pct', 'white_pct', 'black_pct', 'asian_pct', 'hisp_pct']
pop_10_2

       zip  occu_pct  own_occu_pct  white_pct  black_pct  asian_pct  hisp_pct
0    10001      88.4          25.7       65.0        9.0       16.8      17.3
1    10002      95.3          15.4       31.3        8.4       46.6      25.3
2    10003      91.9          29.4       76.4        3.5       14.4       8.0
3    10004      77.0          26.4       70.2        3.1       21.2       6.1
4    10005      80.0          15.5       70.1        3.4       20.7       7.4
..     ...       ...           ...        ...        ...        ...       ...
209  11691      92.2          23.5       31.0       50.1        2.0      25.2
210  11692      90.0          28.6       16.4       66.4        2.8      22.0
211  11693      91.0          45.1       55.4       30.8        3.1      19.1
212  11694      88.6          48.6       82.5        9.2        2.5      12.3
213  11697      64.3          98.0       98.2        0.1        0.6       2.2

[214 rows x 7 columns]

In [10]:
pop_10 = pop_10_1.merge(pop_10_2, left_on='zip', right_on='zip')
pop_10

,zip,population,housing_units,occu_pct,own_occu_pct,white_pct,black_pct,asian_pct,hisp_pct
0,10001,21102,12476,88.4,25.7,65.0,9.0,16.8,17.3
1,10002,81410,34541,95.3,15.4,31.3,8.4,46.6,25.3
2,10003,56024,31078,91.9,29.4,76.4,3.5,14.4,8.0
3,10004,3089,2197,77.0,26.4,70.2,3.1,21.2,6.1
4,10005,7135,5317,80.0,15.5,70.1,3.4,20.7,7.4
...,...,...,...,...,...,...,...,...,...
209,11691,60035,21160,92.2,23.5,31.0,50.1,2.0,25.2
210,11692,18540,6881,90.0,28.6,16.4,66.4,2.8,22.0
211,11693,11916,5170,91.0,45.1,55.4,30.8,3.1,19.1
212,11694,20408,9341,88.6,48.6,82.5,9.2,2.5,12.3
213,11697,4079,2698,64.3,98.0,98.2,0.1,0.6,2.2

In [11]:
pop_10.to_csv('data/pop_10.csv')
pop_18.to_csv('data/pop_18.csv')